.rodape {
    height: 575px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    
    width: 250px;
    height: 250px;
}

.redesSociais {
    height: 30px;
    width: 30px;
}

.infosRodape {
    width:1100px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    gap: 1rem;   
}

.infosRodape > div {
    flex: 1;
    column-width: auto;
}
.direitos {
    padding-top: 150px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: ri;

}


