.rodape {
    height: 575px;
    background: linear-gradient(
    #141310,
    #0a0a08 ,
    #080808 ,
    #000000 ,
    #000000 ,
    #000000 ,
    #000000 ,
    #000000,
    #000000 
  );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    padding-top:50px;
    width: 250px;
    height: 250px;
}

.redesSociais {
    height: 17px;
    width: 17px;
}

.infosRodape {
    padding: 50px;
    width:1200px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    gap: 1rem;   
}

.infosRodape > div {
    flex: 1;
    column-width: auto;
}
.direitos {
    padding-top: 40px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width:1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


