.principal {
   background: linear-gradient(
    black,
    #201f1a,
    #141310,
    black
   );
  min-height: 100vh;
}
.titulo {
    font-size: 25;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F7EFE5;
}

.paragrafo{
    font-size: 15;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F7EFE5;
}

.secao {
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
   
}
.secao2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem; /* espaço entre imagem e texto */
}

.fotosHome{
    width: 50rem;
    height: 20rem;
    border-radius: 10px;
}

.fotosHomeGurpo{
    width: 25rem;
    height: 10rem;
    border-radius: 100px;
    background-size: cover;
}
