.header {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 04000C;
}

.cabecalho {
    height: 130px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logo {
    width: 100px;
    height: 100px;
}

.nav {
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;
}