.header {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
}

.cabecalho {
    height: 130px;
    width: 1100px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logo {
    width: 100px;
    height: 100px;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.1); 
}

.nav {
    display: flex;
    gap: 20px;
    font-size: 16;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
}

.nav :hover {
    color: #854836;
    font-size: 18;
    position: relative;
    text-decoration: none; 
    transition-behavior: normal, normal ;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s, 0s;
}



