

.corpo {
    border: 3px;
    display: flex;
    justify-content: center;
    background: #141310;

}

.container {
    border: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Cinzel', serif;
    width: 27rem;
    color: #c5c6c7;
}

.titulo {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #854836;
    border-bottom: 2px solid #854836;
}

.selecao {
    font-family: serif;
    font-size: 20px;
    width: 80%;
    border: 3px solid #854836;
    color: #f5dcd4;
    background-color: #292416;
    padding: 0.3rem;
    margin-bottom: 10px;
    width: 80%;
}

.label {
    gap: 1rem;
    font-family: 'Cinzel', serif;
    font-size: large;
    color: #f5dcd4;
}

.input {
    padding: 0.3rem;
    width: 80%;
    color: #f5dcd4;
    background-color: #292416;
    border: 3px solid #854836;
    border-radius: 5px;
}

.input::placeholder {
    color: #888;
}

.botao {
    padding: 0.6rem 1.2rem;
    color: #C0DEE6;
    background-color: #854836;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botao:hover {
    background-color: #5a2313;
}

.valorOrcamento {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.7rem;
    color: #f5dcd4;
}

.aviso {
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.7rem; 
    text-align: center;
    
}